.cxb-gridlayout {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
  transition: margin 0.3s;
  background: gray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &.cxs-scrollable {
    display: block;
    overflow: auto;

    .cxe-gridlayout-grid {
      transform-origin: left top;
    }
  }
}

.cxe-gridlayout-grid {
  display: grid;
  background: rgba(white, 0.3);
  box-shadow: 0 0 2px rgba(black, 0.2);
  transition: transform 0.3s;
  flex: 0 0 auto;
}

.cxe-gridlayout-drop-marker {
  //margin: 10px;
  background: rgba(white, 0.1);
  border: 2px solid rgba(black, 0.2);
}