$drawer-width: 310px;

.grid-cell {
  border: 1px solid lightgray;
}

.cxb-dropzone.cxm-cell {
  background: transparent;
  transition: background 0.5s;

  &.cxs-over {
    background: white;
  }
}

.cxb-dragclone {
  opacity: 0.7;
  animation: shrink 0.5s;
  animation-fill-mode: forwards;
}

.drawer {
  box-sizing: border-box;
  background: rgba(lightsteelblue, 0.8);
  box-shadow: 0 1px 2px rgba(black, 0.3);
  animation: slideIn 0.3s;
  position: absolute;
  width: $drawer-width;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 10px;
  touch-action: none;

  & ~ * {
    margin-right: $drawer-width;
  }
}

@keyframes slideIn {
  from {
    top: -400px;
  }

  to {
    top: 0;
  }
}

@keyframes appear {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes shrink {
  from {
    transform: none;
  }

  to {
    transform: scale(0.8);
  }
}